:root {
  /* fonts */
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;
  --numbers-font: 'Roboto' sans-serif;

  /* text styles */
  --main-font-weight: 600;
  --secondary-font-weight: 400;
  --main-font-size: 12px;
  --secondary-font-size: 14px;
  --main-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --grey-text-color: #7a7a7a;

  /* colors */
  --accent-color: #f8d24e;
  --white-color: #ffffff;
  --card-yellow-color: #efd478;
  --card-green-color: #9cbe8f;
  --card-cacao-color: #d6936d;
  --slider-arrow-color: #d9d9d9;
  --dot-color: #6e6e6e;
  --yellow-color: rgba(248, 210, 78, 1);

  /* background */
  --main-color-bg: #84a178;
  --secondary-color-bg: #fcfcfc;
  --yellow-bg: rgba(248, 210, 78, 0.7);
  --green-bg: rgba(156, 190, 143, 0.7);
  --orange-bg: rgba(213, 117, 63, 0.7);
  --input-bg: rgba(248, 210, 78, 0.1);
  --slider-bg: rgba(110, 110, 110, 0.3);

  /* shadow */
  --about-shadow: 0px 16.82px 4.49px rgba(153, 114, 23, 0.25);
  --contacts-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  --slider-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --products-shadow: 0px 5.34px 20.03px (rgba(10, 136, 23, 0.25));

  /* other */
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --short-animation: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  --form-border: 2px solid #f8d24e;
  --border-radius: 10px;
  --gap: 18px;
  --grey-stroke: 1px solid #e1e1e1;

  /* modal */
  --bg-modal-black-color: rgba(0, 0, 0, 0.4);
  --bg-modal-input-color: rgba(248, 210, 78, 0.1);
  --bg-modal-disabled-color: #ababab;
  --bg-btn-focus-color: #0a8817;
  --bg-circle-green-color: #9cbe8f;
  --bg-circle-yellow-color: #efd478;
  --bg-circle-coffee-color: #d6936d;
  --br-modal-input-color: #84a178;
}
