<div class="footer container">
  <div class="footer-top">
    <div class="footer-name">
      <div class="footer-name__org">
        <p class="footer-name__org--first">homemade ice cream</p>
        <p>made</p>
      </div>
      <div class="footer-name__big">
        <p class="footer-name__big--first">with</p>
        <p>passion</p>
      </div>
    </div>
    <div class="footer-socials">
      <ul class="footer-socials__list">
        <li class="footer-socials__item list">
          <a class="footer-socials__link-icon link" href="https://github.com" target="_blank" rel="noopener noreferrer"
            aria-label="Github">
            <svg class="footer-socials__icon" width="32" height="32">
              <use href="./image/icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item list">
          <a class="footer-socials__link-icon link" href="https://web.telegram.org/" aria-label="Telegram"
            target="_blank" rel="noopener noreferrer">
            <svg class="footer-socials__icon" width="32" height="32">
              <use href="./image/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-socials__item list">
          <a class="footer-socials__link-icon link" href="https://facebook.com" aria-label="Facebook" target="_blank"
            rel="noopener noreferrer">
            <svg class="footer-socials__icon" width="32" height="32">
              <use href="./image/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer-socials__item--tel">
        <p>Feel free to contact</p>
        <a class="footer-socials__link link-color link" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="footer-end">
    <p>&copy; 2022 - IceCream.</p>
    <p>All Rights Reserved.</p>
  </div>
</div>