<div class="container header__container">
  <a class="logo" href="./index.html">
    <img class="logo--image" src="./image/logo/logo.png" alt="logo" />
  </a>
  <button
    class="open-menu-btn js-open-menu"
    type="button"
    aria-expanded="false"
    aria-controls="mobile-menu"
    aria-label="Кнопка мобільного меню"
  >
    <svg
      class="open-menu-btn__icon"
      width="32"
      height="32"
      aria-label="Перемикач мобільного меню"
    >
      <use href="./image/icons.svg#mobile-menu"></use>
    </svg>
  </button>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <a class="logo" href="./index.html">
      <img class="logo--image" src="./image/logo/logo.png" alt="logo" />
    </a>
    <button class="menu-container__close-btn js-close-menu" type="button">
      <svg width="32" height="32">
        <use href="./image/icons.svg#close-mobile-menu"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="mobile-menu-btn" type="button">Buy now</button>
  </div>
</div>
