<section class="section hero">
  <div class="container">
    <h1 class="title">
      ice cream made with <span class="title--bigger-size">passion</span>
    </h1>
    <ul class="hero__btn-list">
      <li class="hero__btn-item">
        <button class="hero__btn" type="button">Products</button>
      </li>
      <li class="hero__btn-item">
        <button class="hero__btn" type="button">How it’s made?</button>
      </li>
    </ul>

    <img
      class="hero__img"
      src="./image/hero/ice-cream.png"
      alt="an ice cream cone with three colorful balls with funny emoticons on each ball"
    />
    <img
      class="hero__img-decoration"
      src="./image/hero/hero-decoration.png"
      alt=""
    />
  </div>
</section>
