<div class="container">
  <button class="button button__hero" type="button" data-modal-read-open>
    Read more modal
  </button>
</div>

<!-- Read more modal -->
<div class="backdrop is-hidden" data-modal-read>
  <div class="modal">
    <button class="button-close" type="button" data-modal-read-close>
      <svg class="button-close__icon">
        <use href="./image/icons.svg#modal-close"></use>
      </svg>
    </button>
    <strong class="modal__title">How it’s made?</strong>
    <iframe
      class="modal__video"
      width="224"
      height="199"
      src="https://www.youtube.com/embed/JPvjUKT1pcQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>

<script src="./js/modal-read.js"></script>
