<div class="container">
  <button class="button button__hero" type="button" data-modal-buy-open>
    Buy now modal
  </button>
  <button class="button button__hero" type="button" data-modal-ing-open>
    Modal ingredients
  </button>
  <button class="button button__hero" type="button" data-modal-read-open>
    Read more modal
  </button>
  <button class="button button__hero" type="button" data-modal-map-open>
    Our location modal
  </button>
  <button class="button button__hero" type="button" data-modal-fran-open>
    Franchise modal
  </button>
</div>

<div class="box">
  <!-- Buy now modal -->
  <div class="backdrop is-hidden" data-modal-buy>
    <div class="modal">
      <button class="button-close" type="button" data-modal-buy-close>
        <svg class="button-close__icon">
          <use href="./image/icons.svg#modal-close"></use>
        </svg>
      </button>
      <strong class="modal__title">Buy now</strong>
      <ul class="cards">
        <li class="cards__list list">
          <div class="cards__thumb">
            <input
              class="cards__checkbox visually-hidden"
              id="checkbox"
              type="checkbox"
              name="checkbox"
              value="checkbox"
            />
            <label for="checkbox">
              <img
                class="cards__img"
                scrset="./image/mobile/product1.jpg 1x, 
                ./image/mobile/product1-x2.jpg 2x"
                src="./image/mobile/product1.jpg"
                alt="ice-cream"
                width="132"
                height="132"
              />
              <div class="cards__circle"></div>
              <p class="cards__name">ice cream</p>
            </label>
          </div>
        </li>
        <li class="cards__list list">
          <div class="cards__thumb">
            <input
              class="cards__checkbox visually-hidden"
              id="checkbox"
              type="checkbox"
              name="checkbox"
              value="checkbox"
            />
            <label for="checkbox">
              <img
                class="cards__img"
                srcset="
                  ./image/mobile/product2.jpg    1x,
                  ./image/mobile/product2-x2.jpg 2x
                "
                src="./image/mobile/product2.jpg"
                alt="ice-cream"
                width="132"
                height="132"
              />
              <div class="cards__circle"></div>
              <p class="cards__name">ice coffee</p>
            </label>
          </div>
        </li>
        <li class="cards__list list">
          <div class="cards__thumb">
            <input
              class="cards__checkbox visually-hidden"
              id="checkbox"
              type="checkbox"
              name="checkbox"
              value="checkbox"
            />
            <label for="checkbox">
              <img
                class="cards__img"
                srcset="
                  ./image/mobile/product3.jpg    1x,
                  ./image/mobile/product3-x2.jpg 1x
                "
                src="./image/mobile/product3.jpg"
                alt="ice-cream"
                width="132"
                height="132"
              />
              <div class="cards__circle"></div>
              <p class="cards__name">milkshake</p>
            </label>
          </div>
        </li>
      </ul>
      <form class="register-form" name="register-form">
        <div class="register-form__group" role="group">
          <input
            class="register-form__input"
            type="text"
            name="name"
            placeholder="Name"
            required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space."
          />
          <input
            class="register-form__input"
            type="tel"
            name="phone"
            placeholder="Phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            minlength="13"
            maxlength="13"
            title="Phone must be 000-000-00-00"
          />
          <textarea
            class="register-form__textarea"
            name="comment"
            cols="30"
            rows="10"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="button button__modal-sent" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <!-- Modal ingredients -->
  <div class="backdrop is-hidden" data-modal-ing>
    <div class="modal modal-ing">
      <button class="button-close" type="button" data-modal-ing-close>
        <svg class="button-close__icon">
          <use href="./image/icons.svg#modal-close"></use>
        </svg>
      </button>
      <strong class="modal__title modal__title-ingredients">
        Chololate icecream
      </strong>
      <div class="ingredients__box-img">
        <img
          class="ingredients__img"
          srcset="
            ./image/mobile/icecream-1x.jpg 1x,
            ./image/mobile/icecream-2x.jpg 2x
          "
          src="./image/mobile/icecream-1x.jpg"
          alt="ice-cream"
          width="212"
          height="141"
        />
        <div class="circle"></div>
      </div>
      <h2 class="ingredients-title">Ingredients</h2>

      <ul class="ingredients__calories-box">
        <li class="ingredients__calories">
          <p class="ingredients__number">320</p>
          <p class="ingredients__name">kcal</p>
        </li>
        <li class="ingredients__calories">
          <p class="ingredients__number">4g</p>
          <p class="ingredients__name">Prote...</p>
        </li>
        <li class="ingredients__calories">
          <p class="ingredients__number">8,2g</p>
          <p class="ingredients__name">Fats</p>
        </li>
        <li class="ingredients__calories">
          <p class="ingredients__number">40,4g</p>
          <p class="ingredients__name">Carbs</p>
        </li>
      </ul>

      <ul class="ingredients__list">
        <li>
          <ul class="ingredients__list-left">
            <p>Milk</p>
            <p>Belgian chocolate</p>
            <p>Cream</p>
            <p>Cocoa powder</p>
            <p>Sugar</p>
            <p>Vanilla sugar</p>
          </ul>
        </li>
        <li>
          <ul class="ingredients__list-right">
            <p>100ml</p>
            <p>20g</p>
            <p>150 ml</p>
            <p>30g</p>
            <p>40g</p>
            <p>10g</p>
          </ul>
        </li>
      </ul>
      <form class="register-form" name="register-form">
        <div class="register-form__group" role="group">
          <input
            class="register-form__input"
            type="text"
            name="name"
            placeholder="Name"
            required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space."
          />
          <input
            class="register-form__input"
            type="tel"
            name="phone"
            placeholder="Phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            minlength="13"
            maxlength="13"
            title="Phone must be 000-000-00-00"
          />
          <textarea
            class="register-form__textarea"
            name="comment"
            cols="10"
            rows="10"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="button button__modal-sent" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <!-- Read more modal -->
  <div class="backdrop is-hidden" data-modal-read>
    <div class="modal">
      <button class="button-close" type="button" data-modal-read-close>
        <svg class="button-close__icon">
          <use href="./image/icons.svg#modal-close"></use>
        </svg>
      </button>
      <strong class="modal__title">How it’s made?</strong>
      <iframe
        width="224"
        height="199"
        src="https://www.youtube.com/embed/JPvjUKT1pcQ"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
      <p class="register-form__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      </p>
    </div>
  </div>

  <!-- Our Locations modal  -->
  <div class="backdrop is-hidden" data-modal-map>
    <div class="modal">
      <button class="button-close" type="button" data-modal-map-close>
        <svg class="button-close__icon">
          <use href="./image/icons.svg#modal-close"></use>
        </svg>
      </button>
      <strong class="modal__title">Our Locations</strong>
      <!-- <iframe
        class="location__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d20698.40943576184!2d34.5642685420462!3d49.57320752044905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1665763597103!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe> -->
      <iframe
        class="location__map"
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10346.290721678648!2d34.561669578803084!3d49.586949057355845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suk!2sua!4v1665937096898!5m2!1suk!2sua"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <div class="button-box">
        <a
          class="button"
          href="https://goo.gl/maps/TSGaUb2RrQ82MLFw5"
          type="button"
        >
          Open map
        </a>
      </div>
    </div>
  </div>

  <!--Franchise modal window-->
  <div class="backdrop is-hidden" data-modal-fran>
    <div class="modal">
      <button class="button-close" type="button" data-modal-fran-close>
        <svg class="button-close__icon">
          <use href="./image/icons.svg#modal-close"></use>
        </svg>
      </button>
      <form class="register-form" name="register-form">
        <strong class="modal__title"
          >Thank you for your interest in owning an Ice Cream shop</strong
        >
        <p class="register-form__text">
          Due to the overwhelming volume of franchise requests we are not
          accepting new franchisee applications at this time. Once the
          application process resumes, we will contact you for further
          information. Please fill out the contact information below and we will
          reach out for additional information. We appreciate your patience.
        </p>
        <div class="register-form__group" role="group">
          <input
            class="register-form__input"
            type="text"
            name="name"
            placeholder="Name"
            required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
            title="Username must be two words separated by space."
          />
          <input
            class="register-form__input"
            type="tel"
            name="phone"
            placeholder="Phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            minlength="13"
            maxlength="13"
            title="Phone must be 000-000-00-00"
          />
          <input
            class="register-form__input"
            type="email"
            name="email"
            placeholder="Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <textarea
            class="register-form__textarea"
            name="comment"
            cols="30"
            rows="10"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="button button__modal-sent" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="./js/modal-buy.js"></script>
<script src="./js/modal-ing.js"></script>
<script src="./js/modal-read.js"></script>
<script src="./js/modal-map.js"></script>
<script src="./js/modal-fran.js"></script>
