<section class="product section">
    <div class="container">
        <label class="product__label">100% natural</label>
        <h2 class="product__header">products</h2>
        <ul class="product-list list">
            <li class="product-list__items">
                <div class="product-list__background">
                    <img class="product-list__img" src="./image/mobile/product1.jpg" alt="морозиво" width="200px"
                        height="200px">
                </div>
            </li>
            <li class="product-list__items">
                <h3 class="product-list__name">ICE CREAM</h3>
            </li>
            <li class="product-list__items">
                <p class="product-list__descr">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                    natural stabilizer</p>
            </li>
            <li class="product-list__items">
                <button class="product-list__open-btn"></button>
            </li>
        </ul>

        <ul class="product-list list">
            <li class="product-list__items">
                <div class="product-list__background-coffee">
                    <img class="product-list__img" src="./image/mobile/product2.jpg" alt="кава" width="200px" height="200px">
                </div>
            </li>
            <li class="product-list__items">
                <h3 class="product-list__name">ICE CREAM</h3>
            </li>
            <li class="product-list__items">
                <p class="product-list__descr">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                    natural
                    stabilizer</p>
            </li>
            <li class="product-list__items">
                <button class="product-list__open-btn"></button>
            </li>
        </ul>
    </div>
</section>