.about {
    padding-top: 60px;
    padding-bottom: 21px;
    background-color: #84A178;
    margin: 0 auto;
    width: 100%;

    &__wrap {
        max-width: 210px;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    &__label {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 18px;
        line-height: calc(22 / 18);
        text-align: center;
        color: #FCFCFC;
        text-transform: uppercase;
    }

    &__title {
        font-family: "Seymour One", sans-serif;
        font-weight: 400;
        font-size: 30px;
        line-height: calc(38 / 30);
        text-align: center;
        letter-spacing: .04em;
        color: #FCFCFC;
        text-transform: uppercase;
    }

    &__thumb {
        position: relative;

        max-width: 278px;

        margin-bottom: 62px;
        margin-left: auto;
        margin-right: auto;
    }

    &__circle {
        fill: rgba(248, 210, 78, 0.7);
    }

    &__image {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -117px);
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 4px;
    }

    &__text {
        max-width: 220px;
        margin: 0 auto;

        font-weight: 400;
        font-size: 12px;

        text-align: center;
        color: #FCFCFC;

        &--first {
            line-height: calc(21 / 12);
            letter-spacing: .04em;
        }

        &--second {
            line-height: calc(19 / 12);
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 14px;
        line-height: calc(18 / 14);

        color: #131313;

        background-color: #F8D24E;

        padding: 12px 24px;
        margin: 0 auto;
        border-radius: 10px;
        border: 0;
        cursor: pointer;
    }
}