.footer {
  background-color: #84a178;
  padding-top: 1200px;
  padding-bottom: 62px;

  @media screen and (min-width: 768px) {
    padding-top: 407px;
    padding-bottom: 13px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 11px;
  }
}

.footer-top {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-name {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1200px) {
    margin-top: 120px;
    margin-bottom: 54px;
  }
}

.footer-name__org {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(32 / 26);
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(37 / 30);
    display: flex;
  }
}

.footer-name__org--first {
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.footer-name__big {
  font-weight: 700;
  font-size: 34px;
  line-height: calc(41 / 34);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 42px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: calc(71 / 58);
  }
}

.footer-name__big--first {
  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.footer-socials {
  //   @media screen and (min-width: 768px) and (max-width: 1199px) {
  //     padding-top: 68px;
  //   }

  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 54px;
  }
}
.footer-socials__link-icon {
&:hover .footer-socials__icon,
&:focus .footer-socials__icon {
fill: #fff;
}
}


.footer-socials__list {
  display: flex;
  gap: 27px;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 38px;
}

.footer-socials__icon {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   color: var(--main-txt-cl);
  //   background-color: rgba(255, 255, 255, 0.1);
  //   border-radius: 50%;
  fill: #84a178;
  width: 100%;
  height: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // &:hover,
  // &:focus {
  //   fill: #fff;
  // }

  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.footer-socials__item--tel {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #131313;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}

.link-color {
  color: #fcfcfc;
}

.footer-end {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #7a7a7a;
  border-top: 1px solid #e1e1e1;
  padding-top: 16px;

  @media screen and (min-width: 768px) {
    line-height: 186%;
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    font-size: 12px;
  }
}
