.header {
  position: fixed;
  z-index: 10;
  width: 100%;

  &.no-transparency {
    background-color: #84a178b8;
    backdrop-filter: blur(4px);
    transition: background-color var(--animation),
      background-filter var(--animation);
  }

  &__container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
    min-width: 320px;
    max-width: 480px;

    @media screen and (min-width: 768px) {
      max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  .nav {
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      gap: 27px;
      text-align: center;
    }

    &__link {
      font-family: var(--main-font);
      font-weight: 700;
      font-size: 16px;
      line-height: calc(20 / 16);
      padding: 40px 0;
      color: var(--main-text-color);
      text-decoration: none;
      transition: color var(--animation);

      &:hover,
      &:focus {
        color: var(--secondary-text-color);

        @media screen and (min-width: 1200px) {
          color: var(--accent-color);
        }
      }
    }
  }
}

.logo__image {
  max-width: none;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 45px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.buy-now-btn {
  cursor: pointer;

  &.header__btn {
    margin: 24px 0;

    font-size: var(--secondary-font-size);
    line-height: calc(17 / 14);

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      margin: 28px 0;
      min-width: 152px;
    }
  }
}

.btn-wrapper {
  display: flex;
  gap: 32px;
}
