:root {
  // Font families
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;

  // Text colors
  // --t-accent-color: #2196f3;
  --t-primary-color: #131313;
  --t-btn-focus-color: #fcfcfc;

  /* Background colors*/
  --bg-primary-color: #fcfcfc;
  --bg-modal-black-color: rgba(0, 0, 0, 0.4);
  --bg-modal-input-color: rgba(248, 210, 78, 0.1);
  --bg-modal-disabled-color: #ababab;

  // --bg-white-color
  --bg-accent-color: #f8d24e;
  --bg-btn-focus-color: #0a8817;
  --bg-btn-hover-color: #0a8817;

  // Border colors
  --br-modal-color: #f8d24e;
  --br-modal-input-color: #84a178;

  // Icons colors
  --i-black-color: #131313;

  // Animations
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Modals - components
.button {
  display: flex;
  padding: 12px 34px;
  // font-family: inherit;

  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: var(--t-primary-color);

  background: #f8d24e;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

  // Modal-window - button-sent

  &__modal-sent {
    // width: 114px;
    // height: 42px;

    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 34px;
    // font-family: inherit;

    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: var(--t-primary-color);

    background: #f8d24e;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }

  &__modal-sent:focus {
    // outline-color: var(--br-accent-color);
  }

  .button-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: var(--bg-modal-black-color);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  width: 280px;
  height: 98%;
  overflow-y: scroll;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 28px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 479px) {
    max-width: 94%;
  }
  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 60px;
  }

  &__title {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: block;
    text-align: center;
    color: var(--t-primary-color);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      // line-height: calc(28 / 20);
      margin-bottom: 24px;
    }
  }
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  // 1px solid var(--br-modal-bt-color);
  outline: none;
  background: var(--bgd-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color var(--trans);

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: var(--i-black-color);
    transition: fill var(--trans);

    @media screen and (min-width: 768px) {
      width: 20px;
      height: 20px;
    }
  }
  &:hover &__icon,
  &:focus &__icon {
    fill: var(--br-accent-color);
  }
}

// Buy now
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 32px;
    margin-bottom: 40px;
  }
}
.cards__thumb {
  position: relative;
  width: 130px;
  height: 193px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: flex-end;
}
.cards__img {
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0%;
  display: flex;
  border-radius: 66px;
  border: none;
}
.cards__circle {
  position: absolute;
  top: 8px;
  left: 0%;
  z-index: 9;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  border: none;
  border-radius: 50%;
  height: 132px;
  width: 132px;
}
.cards__circle-2 {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.cards__circle-3 {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.cards__name {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--t-primary-color);
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  padding: 96px 0 20px 0;
  width: 132px;
}
.cards__name-2 {
  background: #efd478;
  border: 2px solid #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}
.cards__name-3 {
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}
.register-form {
  &__title {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    display: block;
    text-align: center;
    // display: flex;
    // align-items: center;
    // text-align: center;
    color: var(--t-primary-color);
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      // line-height: calc(28 / 20);
      margin-bottom: 24px;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20 / 14);
    color: var(--t-primary-color);
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 32px;
    }
  }

  &__group {
    margin-bottom: 32px;
  }
  &__input {
    width: 100%;
    height: 42px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    // outline: none;
    padding: 11px 11px;
    margin-bottom: 12px;
    // transition: border-color var(--trans);
    cursor: pointer;

    @media screen and (min-width: 768px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 368px;
      padding: 11px 16px;
      margin-bottom: 16px;
    }
  }
  &__input:focus {
    // border-color: var(--br-accent-color);
  }
  // &__icon {
  //     position: absolute;
  //     bottom: 11px;
  //     left: 12px;
  //     fill: var(--i-dark-color);
  //     transition: fill var(--trans);
  // }
  // &__input:focus + &__icon {
  //     fill: var(--t-accent-color)
  // }
  &__input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);
    color: var(--t-primary-color);

    @media screen and (min-width: 768px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      font-size: 14px;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    resize: none;
    height: 64px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84a178;
    border-radius: 10px;
    padding: 11px 11px;
    // outline: none;
    // transition: border-color var(--trans);

    @media screen and (min-width: 768px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 368px;
      padding: 11px 16px;
    }
  }
  &__textarea:focus {
    // border-color: var(--br-accent-color);
  }
  &__textarea::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(17 / 12);
    color: var(--t-primary-color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}

// Checkbox

// &__agreement {
//     display: flex;
//     gap: 9px;
//     align-items: center;
//     justify-content: center;
//     margin-bottom: 30px;
//     cursor: pointer;
// }
// .icon-checked {
//     opacity: 0;
// }
// .icon-unchecked {
//     opacity: 1;
// }
// &__checkbox:checked +
// &__icons .icon-checked {
//     opacity: 1;
//     transition: opacity var(--trans);
// }
// &__checkbox:checked +
// &__icons .icon-unchecked {
//     opacity: 0;
// }
// &__checkbox:focus + &__icons {
//     outline: 1.5px solid var(--br-accent-color);
//     outline-offset: 1px;
//     border-radius: 1px;
// }
// &__checkbox:focus:checked + &__icons {
//     outline: 1.5px solid var(--i-dark-color);
//     border-radius: 1px;
// }
// &__agreement>span {
//     font-size: 12px;
//     line-height: calc(14 / 12);
//     letter-spacing: 0.03em;
//     color: var(--t-secondary-color);
//     user-select: none;

//     @media screen and (min-width:1200px) {
//         font-size: 14px;
//         line-height: calc(24 / 14);
//     }
// }
// &__agreement a {
//     color: var(--t-accent-color);
// }

// .circle {
//   position: absolute;
//   //   display: flex;
//   top: 6px;
//   left: 30%;
//   z-index: 9;
//   background: linear-gradient(
//       0deg,
//       rgba(156, 190, 143, 0.7),
//       rgba(156, 190, 143, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
//   border: none;
//   border-radius: 50%;
//   height: 132px;
//   width: 132px;
// }
