.modal-buy {
  height: 98%;
  overflow-y: scroll;

  @media screen and (min-width: 768px) {
    height: auto;
    padding-left: 54px;
    padding-right: 54px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 30px;
    margin-bottom: 40px;
  }
  &__thumb {
    position: relative;
    width: 132px;
    height: 200px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: flex-end;
  }
  &__img {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0%;
    display: flex;
    border-radius: 66px;
    border: none;
  }
  &__circle {
    position: absolute;
    top: 8px;
    left: 0%;
    z-index: 9;
    background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    border: none;
    border-radius: 50%;
    height: 132px;
    width: 100%;
  }
  &__circle-2 {
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  }
  &__circle-3 {
    background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  }
  &__name {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--main-color);
    border-radius: 16px;
    padding: 103px 0 20px 0;
    width: 132px;
  }
  &__name-1 {
    border: 2px solid #96af8c;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    transition: background-color var(--trans), color var(--trans),
      font-size var(--trans);
  }
  &__name-2 {
    border: 2px solid var(--bg-circle-yellow-color);
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    transition: background-color var(--trans), color var(--trans),
      font-size var(--trans);
  }
  &__name-3 {
    border: 2px solid var(--bg-circle-coffee-color);
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    transition: background-color var(--trans), color var(--trans),
      font-size var(--trans);
  }

  &__checkbox-1:focus ~ label > &__name-1 {
    font-size: 18px;
    color: var(--bg-circle-green-color);
  }
  &__checkbox-1:checked ~ label > &__name-1 {
    background-color: var(--bg-circle-green-color);
    color: var(--main-color);
  }
  &__checkbox-2:focus ~ label > &__name-2 {
    font-size: 18px;
    color: var(--bg-circle-yellow-color);
  }
  &__checkbox-2:checked ~ label > &__name-2 {
    background-color: var(--bg-circle-yellow-color);
    color: var(--main-color);
  }
  &__checkbox-3:focus ~ label > &__name-3 {
    font-size: 18px;
    color: var(--bg-circle-coffee-color);
  }
  &__checkbox-3:checked ~ label > &__name-3 {
    background-color: var(--bg-circle-coffee-color);
    color: var(--main-color);
  }
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
