    // overful

    // .product {
        
    // }
    .section {
        min-width: 320px;
    }

    html {
        background-repeat: repeat-y;
        background-position: center center;
       
        background-size: 430%;
    }

    .product__label {
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        display: block;
        text-align: center;

        margin-bottom: 12px;
        color: #131313;
    }

    .product__header {
        font-family: 'Seymour One';
        font-weight: 900;
        font-size: 30px;
        line-height: 38px;
        display: block;
        text-align: center;
        letter-spacing: 4%;

        margin-bottom: 40px;
        color: #131313;
    }

    .product-list {
        position: relative;
        padding-left: 0;
        text-align: center;
        margin-bottom: 56px;
    }


    .product-list__img {
        border-radius: 50%;
        transform: translateY(-10px);
    }


    .product-list__background {
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(156, 190, 143, 0.7);
        border-radius: 50%;
        
        width: 200px;
    }

    /* .product-list__backgroun-fone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(174, 198, 165, 1);
    width: 280px;
    height: 420px;
    border-radius: 24px;
    bottom: 100px;
} */

    .product-list__background::after {
        content: "";
        position: absolute;
        transform: translateX(-240px);
        top: 90px;
        z-index: -4;

        width: 280px;
        height: 420px;
        border-radius: 24px;

        background-color: #AEC6A5;
    }

    .product-list__name {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 4%;
    }

    .product-list__descr {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        letter-spacing: 4%;

        width: 200px;
        height: 124px;
        margin: auto;
        margin-bottom: 90px;
    }

    .product-list__background-coffee {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
        
        background-color: rgba(248, 210, 78, 0.7);
        border-radius: 50%;

        width: 200px;
    }

    .product-list__background-coffee::after {
        content: "";
        position: absolute;
        transform: translateX(-245px);
        top: 90px;

        z-index: -4;

        background-color: rgba(239, 212, 120, 1);
        width: 280px;
        height: 420px;
        border-radius: 24px;
    }

   


